version: '3.8'

services:
  wordpress:
    image: wordpress:latest
    restart: always
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: ${MYSQL_HOST}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_HOME', '${RAILWAY_PUBLIC_DOMAIN}');
        define('WP_SITEURL', '${RAILWAY_PUBLIC_DOMAIN}');
        define('FORCE_SSL_ADMIN', true);
        define('WP_MEMORY_LIMIT', '256M');
    volumes:
      - wordpress_data:/var/www/html

volumes:
  wordpress_data:
